<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= appname %></title>

        <!-- header links -->

        <%- include(viewsRoot + 'partials/header-links') %>
    </head>
    <body>
        <%- include(viewsRoot + 'partials/header') %>

        <!-- MAIN CONTENT -->

        <div class="theme-hero-area">
            <div class="theme-hero-area-bg-wrap">
                <div class="theme-hero-area-bg" style="background-image:url(https://image.freepik.com/free-vector/military-air-base-isometric-composition_1284-22756.jpg);" id="hero-banner"></div>
                <div class="theme-hero-area-mask theme-hero-area-mask-strong"></div>
                <div
                    class="blur-area"
                    data-bg-area="#hero-banner"
                    data-blur-area="#hero-search-form"
                    data-blur="20"
                    style='filter: blur(20px); background-image: url("http://remtsoy.com/tf_templates/tf-bookify-demo/img/architecture-bridge-buildings-calm-waters-427679_1500x800.jpeg"); clip-path: inset(189px 203px 95px);'
                ></div>
            </div>
            <div class="theme-hero-area-body">
                <div class="container">
                    <div class="row _pb-50 _pt-100 _pv-mob-50">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="theme-search-area _mob-h theme-search-area-white theme-search-area-stacked">
                                <div class="theme-search-area-header _ta-c">
                                    <h1 class="theme-search-area-title theme-search-area-title-sm"><%= flights.length %> flights to different destinations</h1>
                                    <p class="theme-search-area-subtitle">Search & book flights</p>
                                </div>
                                <div class="theme-search-area-form" id="hero-search-form">
                                    <div class="row" data-gutter="none">
                                        <div class="col-md-5 ">
                                            <div class="row" data-gutter="none">
                                                <div class="col-md-6 ">
                                                    <div class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-sm">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                            <input class="theme-search-area-section-input typeahead" type="text" placeholder="From" id="origin" data-provide="typeahead" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                            <input class="theme-search-area-section-input typeahead" type="text" placeholder="To" id="destination" data-provide="typeahead" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="row" data-gutter="none">
                                                <div class="col-md-4 ">
                                                    <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                            <input class="theme-search-area-section-input datePickerStart _mob-h" type="text" id="checkin" placeholder="Check-in" />
                                                            <input class="theme-search-area-section-input _desk-h mobile-picker" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                            <input class="theme-search-area-section-input datePickerEnd _mob-h" type="text" id="checkout" placeholder="Check-out" />
                                                            <input class="theme-search-area-section-input _desk-h mobile-picker" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm quantity-selector" data-increment="Passengers">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-people"></i>
                                                            <input class="theme-search-area-section-input" id="passengers" value="0" type="text" />
                                                            <div class="quantity-selector-box" id="FlySearchPassengers">
                                                                <div class="quantity-selector-inner">
                                                                    <p class="quantity-selector-title">Passengers</p>
                                                                    <ul class="quantity-selector-controls">
                                                                        <li class="quantity-selector-decrement">
                                                                            <a href="#">-</a>
                                                                        </li>
                                                                        <li class="quantity-selector-current">1</li>
                                                                        <li class="quantity-selector-increment">
                                                                            <a href="#">+</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <button class="theme-search-area-submit _tt-uc _mt-0 theme-search-area-submit-curved theme-search-area-submit-sm search-flight">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-search-area-options theme-search-area-options-center theme-search-area-options-dot-primary-inverse clearfix">
                                    <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                        <label class="btn btn-primary active"> <input type="radio" name="flight-options" id="flight-option-1" checked="" />Round Trip </label>
                                        <label class="btn btn-primary"> <input type="radio" name="flight-options" id="flight-option-2" />One Way </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="theme-page-section theme-page-section-white">
            <div class="container">
                <div class="row row-col-static" id="sticky-parent" data-gutter="20">
                    <div class="col-md-2-5 ">
                        <div class="sticky-col _mob-h">
                            <div class="theme-search-results-sidebar">
                                <div class="theme-search-results-sidebar-sections _mb-20 _br-2 theme-search-results-sidebar-sections-dark">
                                    <div class="theme-search-results-sidebar-section">
                                        <h5 class="theme-search-results-sidebar-section-title">Airlines</h5>
                                        <div class="theme-search-results-sidebar-section-checkbox-list">
                                            <% for(const flight of flights.map(a => a.airline).filter((value, index, self) => self.indexOf(value) === index)) { %>
                                            <div class="theme-search-results-sidebar-section-checkbox-list-items">
                                                <div class="checkbox theme-search-results-sidebar-section-checkbox-list-item">
                                                    <label class="icheck-label">
                                                        <div class="icheck" style="position: relative;">
                                                            <input class="icheck" type="checkbox" style="position: absolute; opacity: 0;" />
                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"> </ins>
                                                        </div>
                                                        <span class="icheck-title"><%= flight %></span>
                                                    </label>
                                                    <span class="theme-search-results-sidebar-section-checkbox-list-amount"><%= new Intl.NumberFormat('en', { style: 'currency', currency: 'KSH' }).format(flights.find(a => a.airline === flight)['cost']) %></span>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 ">
                        <div class="theme-search-results-sort _b-n _mob-h clearfix">
                            <h5 class="theme-search-results-sort-title">Sort by:</h5>
                            <ul class="theme-search-results-sort-list">
                                <li>
                                    <a href="#">
                                        Price
                                        <span>Low → High</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        Duration
                                        <span>Long → Short</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Recommended
                                        <span>High → Low</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Airline Name
                                        <span>Name &nbsp; A → Z</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <% if(!(typeof user !== 'undefined' && user['email'])) { %>
                        <div class="theme-search-results-sign-in _mob-h bg-grad">
                            <i class="theme-search-results-sign-in-icon fa fa-unlock-alt"></i>

                            <h5 class="theme-search-results-sign-in-title">
                                Sign in to unlock our secret delas. Save up to
                                <b>50%</b>
                            </h5>
                            <a class="btn theme-search-results-sign-in-btn btn-ghost btn-white" href="/login">Sign in now</a>
                        </div>

                        <% } %>
                        <div class="theme-search-results">
                            <% for(const flight of flights) { %>
                            <div class="theme-search-results-item _mb-10 _b-n theme-search-results-item-rounded theme-search-results-item-">
                                <div class="theme-search-results-item-preview">
                                    <a class="theme-search-results-item-mask-link" href="#searchResultsItem-1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="searchResultsItem-1"></a>

                                    <div class="row" data-gutter="20">
                                        <div class="col-md-10 ">
                                            <div class="theme-search-results-item-flight-sections">
                                                <div class="theme-search-results-item-flight-section">
                                                    <div class="row row-no-gutter row-eq-height">
                                                        <div class="col-md-2 ">
                                                            <div class="theme-search-results-item-flight-section-airline-logo-wrap">
                                                                <img class="theme-search-results-item-flight-section-airline-logo" src="https://icon-library.net/images/air-plane-icon/air-plane-icon-8.jpg" alt="Image Alternative text" title="Image Title" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-10 ">
                                                            <div class="theme-search-results-item-flight-section-item">
                                                                <div class="row">
                                                                    <div class="col-md-3 ">
                                                                        <div class="theme-search-results-item-flight-section-meta">
                                                                            <p class="theme-search-results-item-flight-section-meta-time">
                                                                                <%= moment(flight['departure']).format('hh:mm A') %>
                                                                            </p>
                                                                            <p class="theme-search-results-item-flight-section-meta-city"><%= flight['origin'] %></p>
                                                                            <p class="theme-search-results-item-flight-section-meta-date"><%= moment(flight['departure']).format('Do MMM YYYY') %></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 ">
                                                                        <div class="theme-search-results-item-flight-section-path">
                                                                            <div class="theme-search-results-item-flight-section-path-fly-time">
                                                                                <p><%= moment(flight['arrival']).diff(moment(flight['departure']), 'hours') + ' hours' %></p>
                                                                            </div>
                                                                            <div class="theme-search-results-item-flight-section-path-line"></div>
                                                                            <div class="theme-search-results-item-flight-section-path-line-start">
                                                                                <i class="fa fa-plane theme-search-results-item-flight-section-path-icon"></i>
                                                                                <div class="theme-search-results-item-flight-section-path-line-dot"></div>
                                                                                <div class="theme-search-results-item-flight-section-path-line-title">CLY</div>
                                                                            </div>
                                                                            <div class="theme-search-results-item-flight-section-path-line-end">
                                                                                <i class="fa fa-plane theme-search-results-item-flight-section-path-icon"></i>
                                                                                <div class="theme-search-results-item-flight-section-path-line-dot"></div>
                                                                                <div class="theme-search-results-item-flight-section-path-line-title">LGA</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 ">
                                                                        <div class="theme-search-results-item-flight-section-meta">
                                                                            <p class="theme-search-results-item-flight-section-meta-time">
                                                                                <%= moment(flight['arrival']).format('hh:mm A') %>
                                                                            </p>
                                                                            <p class="theme-search-results-item-flight-section-meta-city"><%= flight['destination'] %></p>
                                                                            <p class="theme-search-results-item-flight-section-meta-date"><%= moment(flight['arrival']).format('Do MMM YYYY') %></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h5 class="theme-search-results-item-flight-section-airline-title">Operated by <%= flight['airline'] %></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 ">
                                            <div class="theme-search-results-item-book">
                                                <div class="theme-search-results-item-price">
                                                    <p class="theme-search-results-item-price-tag"><%= new Intl.NumberFormat('en', { style: 'currency', currency: 'KSH' }).format(flight['cost']) %></p>
                                                    <p class="theme-search-results-item-price-sign"><span style="color: blue;"><%= flight['seats'] - flight['booked'] %> seats left</span></p>
                                                </div>
                                                <a class="btn btn-primary-inverse btn-block theme-search-results-item-price-btn" href="/flight-checkout?utm_source=booking-section&flight=<%= flight['id'] %><%= typeof query !== 'undefined' ? '&' + query : '' %>">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END OF MAIN CONTENT -->

        <%- include(viewsRoot + 'partials/footer') %>
        <!--  -->
        <%- include(viewsRoot + 'partials/footer-scripts') %>

        <script>
            $(function() {
                $('.search-flight').on('click', function(e) {
                    e.preventDefault();

                    var data = {};

                    data['origin'] = $('#origin').val();
                    data['destination'] = $('#destination').val();
                    data['departure'] = $('#checkin').val() + '/19';
                    data['arrival'] = $('#checkout').val() + '/19';
                    data['seats'] = parseInt($('#passengers').val());

                    if (!data['origin'] || !data['destination']) {
                        return toastr.error('Enter required info for correct matches');
                    }

                    if (!data['seats']) {
                        return toastr.error('Select number of seats to book for');
                    }

                    window.location.href = location.href.split('?')[0] + '?origin=' + data['origin'] + '&destination=' + data['destination'] + '&departure=' + data['departure'] + '&arrival=' + data['arrival'] + '&seats=' + data['seats'];
                });
            });
        </script>
    </body>
</html>
